.top-bar {
    border: 1px solid green;
    width: 100%;
    display:flex;
}
.top-bar div {
    margin-right: 10px;
}

.header {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.nav-bar {
    border: 1px solid purple;
    width: 100%;
    display: flex;
}

.main {
    border: 1px solid rgb(150, 150, 20);
    width: 100%;
    display: grid;
    grid-template-columns: 640px, 1fr, 1fr;
    grid-template-rows: 335px, 335px;
    grid-template-areas: 
    "big story1 story2"
    "big story3 story4";
}
.nav-bar div{
    margin-right: 10px;
}
#big-story {
    grid-area: big;
}